/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: absolute;
}
.nav-bar .logo {
  color: #0D5814;
  font-size: 48px;
}
.nav-bar a {
  text-decoration: none;
  color: #0D5814;
  font-size: 18px;
  padding-left: 20px;
}
.main-container {
  width: 100%;
  overflow: hidden;
  margin: auto;
}
@media screen and (min-width: 1000px) {
  .main-container {
    width: 1000px;
  }
}
.hero-section-image {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 500px) {
  .hero-section-image {
    height: 650px;
    background-color: #d7d2d8;
  }
}
.hero-section-image .hero-section-images-image {
  width: 100%;
  height: auto;
}
.hero-section-image .hero-content {
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  position: absolute;
  top: 200px;
  right: 50px;
}
@media screen and (max-width: 500px) {
  .hero-section-image .hero-content {
    top: 450px;
    right: 100px;
  }
}
.hero-section-image .hero-sign-up {
  width: 50%;
  text-align: center;
  padding-top: 20px;
}
.hero-section-image .hero-sign-up input {
  width: 80%;
  background: #0D5814;
  border-radius: 20px;
  width: 115px;
  height: 35px;
  border: none;
  font-weight: bold;
  font-size: 12px;
  color: #FFF8E6;
}
.hero-section-image .hero-sign-in {
  width: 50%;
  text-align: center;
  padding-top: 20px;
}
.hero-section-image .hero-sign-in input {
  width: 80%;
  width: 115px;
  height: 35px;
  border: 2px solid #BF9018;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #BF9018;
}
.hero-section-image .hero-text {
  color: #0D5814;
  font-size: 36px;
  margin: 0 0 60 0;
}
.intro-section {
  width: 100%;
  margin: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 800px) {
  .intro-section {
    flex-direction: column;
  }
}
.intro-section .you-image img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .intro-section .you-image img {
    margin: 30px 0 30px 0;
  }
}
.intro-section .you-text {
  width: 400px;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  .intro-section .you-text {
    order: -1;
    margin: 30px 0 30px 0;
  }
}
.intro-section .you-text p {
  font-size: 24px;
}
.intro-section .you-text h2 {
  font-size: 48px;
  color: #BF9018;
}
.intro-section .we-text {
  width: 400px;
  display: inline-block;
  text-align: right;
}
@media screen and (max-width: 800px) {
  .intro-section .we-text {
    margin: 30px 0 30px 0;
  }
}
.intro-section .we-text p {
  font-size: 24px;
}
.intro-section .we-text h2 {
  font-size: 48px;
  color: #BF9018;
}
.intro-section .we-image img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .intro-section .we-image img {
    margin: 30px 0 30px 0;
  }
}
.product-info-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 800px) {
  .product-info-section {
    flex-direction: column;
    align-items: center;
  }
}
.product-info-section .product-info-title {
  width: 100%;
  margin: 30px 0 30px 0;
  text-align: center;
  color: #0D5814;
  font-size: 36px;
}
.product-info-section .product-info {
  width: 230px;
  margin: 30px 0 30px 0;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .product-info-section .product-info {
    width: 80%;
  }
}
.product-info-section .product-info h3 {
  font-size: 24px;
  color: #0D5814;
}
.product-info-section .product-info p {
  font-size: 18px;
}
.product-info-section .product-info .icons {
  margin: 30px 0 30px 0;
  color: #BF9018;
}
.product-info-section .product-info hr {
  width: 80%;
}
.call-to-action-section {
  margin: 60px 0 0 0;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.call-to-action-section .call-to-action-title {
  font-size: 36px;
  margin: 60 0 0 0;
  padding: 60 0 0 0;
  color: #0D5814;
}
.call-to-action-section .get-started-cta input {
  width: 150px;
  height: 40px;
  background-color: #BF9018;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: #FFF8E6;
}
.call-to-action-section .copyright {
  margin: 0 0 5px 0;
  color: #000000;
  font-size: 14px;
}
.team-section-image {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.team-section-image .hero-content {
  position: absolute;
  top: 50%;
  color: #FFF8E6;
  font-size: 48px;
  font-weight: bold;
}
.team-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team-section .team-title {
  width: 100%;
  margin: 60px 0 0 0;
  text-align: center;
  color: #BF9018;
  font-size: 36px;
}
.team-section .member-info {
  width: 230px;
  margin: 30px 0 30px 0;
  text-align: center;
}
.team-section .member-info h3 {
  font-size: 24px;
  color: #0D5814;
}
.team-section .member-info p {
  font-size: 18px;
}
.team-section .member-info img {
  margin: 30px 0 30px 0;
  border-radius: 25px;
}
.team-section .member-info hr {
  width: 80%;
}
